@import 'tailwindcss' layer(components, utilities);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --foreground: #1f2937;
  --background: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  colors: {
    /* 基本カラー */
    primary: '#2563eb';
    secondary: '#1e40af';
    text: {
      default: '#1f2937';
      light: '#6b7280';
    }
    background: {
      default: '#f3f4f6';
      light: '#ffffff';
    }
    /* グラフカラー */
    graph: {
      1: '#3B82F6';
      2: '#0D9488';
      3: '#8B5CF6';
      4: '#EF4444';
      5: '#F97316';
      6: '#EAB308';
      7: '#EC4899';
      8: '#6366F1';
    }
    /* 機能カラー */
    success: '#10B981';
    error: '#ef4444';
    warning: '#f59e0b';
    info: '#60a5fa';
  }
}

@layer base {
  body {
    @apply text-foreground bg-background;
  }
}
